@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-su0YBydEl8qT_font-family: "Source Sans 3", sans-serif;
  --mixin-su0YBydEl8qT_font-size: 16px;
  --mixin-su0YBydEl8qT_font-weight: 400;
  --mixin-su0YBydEl8qT_font-style: normal;
  --mixin-su0YBydEl8qT_color: #535353;
  --mixin-su0YBydEl8qT_text-align: left;
  --mixin-su0YBydEl8qT_text-transform: none;
  --mixin-su0YBydEl8qT_line-height: 1.5;
  --mixin-su0YBydEl8qT_letter-spacing: normal;
  --mixin-su0YBydEl8qT_white-space: pre-wrap;
  --mixin-su0YBydEl8qT_user-select: text;
  --mixin-su0YBydEl8qT_text-decoration-line: none;
  --mixin-su0YBydEl8qT_text-overflow: clip;
  --mixin-WoldXa7m-meU_font-family: "Source Sans 3", sans-serif;
  --mixin-WoldXa7m-meU_color: #000000;
  --mixin-WoldXa7m-meU_font-size: 72px;
  --mixin-WoldXa7m-meU_font-weight: 900;
  --mixin-WoldXa7m-meU_letter-spacing: -4px;
  --mixin-WoldXa7m-meU_line-height: 1;
  --mixin-WoldXa7m-meU_white-space: pre-wrap;
  --mixin-tK8uaXmJUz-J_font-family: "Source Sans 3", sans-serif;
  --mixin-tK8uaXmJUz-J_color: #000000;
  --mixin-tK8uaXmJUz-J_font-size: 48px;
  --mixin-tK8uaXmJUz-J_font-weight: 700;
  --mixin-tK8uaXmJUz-J_letter-spacing: -1px;
  --mixin-tK8uaXmJUz-J_line-height: 1.1;
  --mixin-tK8uaXmJUz-J_white-space: pre-wrap;
  --mixin-Nhad26dGJMhy_font-family: "Source Sans 3", sans-serif;
  --mixin-Nhad26dGJMhy_color: #000000;
  --mixin-Nhad26dGJMhy_font-size: 32px;
  --mixin-Nhad26dGJMhy_font-weight: 600;
  --mixin-Nhad26dGJMhy_letter-spacing: -0.8px;
  --mixin-Nhad26dGJMhy_line-height: 1.2;
  --mixin-Nhad26dGJMhy_white-space: pre-wrap;
  --mixin-s1mP6eESIs8I_font-family: "Source Sans 3", sans-serif;
  --mixin-s1mP6eESIs8I_color: #000000;
  --mixin-s1mP6eESIs8I_font-size: 24px;
  --mixin-s1mP6eESIs8I_font-weight: 600;
  --mixin-s1mP6eESIs8I_letter-spacing: -0.5px;
  --mixin-s1mP6eESIs8I_line-height: 1.3;
  --mixin-s1mP6eESIs8I_white-space: pre-wrap;
  --mixin-z4H4OVc0tkkE_font-family: "Source Sans 3", sans-serif;
  --mixin-z4H4OVc0tkkE_color: #000000;
  --mixin-z4H4OVc0tkkE_font-size: 20px;
  --mixin-z4H4OVc0tkkE_font-weight: 600;
  --mixin-z4H4OVc0tkkE_letter-spacing: -0.3px;
  --mixin-z4H4OVc0tkkE_line-height: 1.5;
  --mixin-z4H4OVc0tkkE_white-space: pre-wrap;
  --mixin-usTnmfnWUoVt_font-family: "Source Sans 3", sans-serif;
  --mixin-usTnmfnWUoVt_color: #000000;
  --mixin-usTnmfnWUoVt_font-size: 16px;
  --mixin-usTnmfnWUoVt_font-weight: 600;
  --mixin-usTnmfnWUoVt_line-height: 1.5;
  --mixin-usTnmfnWUoVt_white-space: pre-wrap;
  --mixin-inBQHe3oBQHB_color: #0070f3;
  --mixin-inBQHe3oBQHB_white-space: pre-wrap;
  --mixin-F3Dq46E6tDrU_color: #3291ff;
  --mixin-F3Dq46E6tDrU_white-space: pre-wrap;
  --mixin-bjv2lJ4L7mte_border-left-color: #dddddd;
  --mixin-bjv2lJ4L7mte_border-left-style: solid;
  --mixin-bjv2lJ4L7mte_border-left-width: 3px;
  --mixin-bjv2lJ4L7mte_color: #888888;
  --mixin-bjv2lJ4L7mte_padding-left: 10px;
  --mixin-bjv2lJ4L7mte_white-space: pre-wrap;
  --mixin-jcQlro4tBReN_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-jcQlro4tBReN_border-bottom-color: #dddddd;
  --mixin-jcQlro4tBReN_border-bottom-style: solid;
  --mixin-jcQlro4tBReN_border-bottom-width: 1px;
  --mixin-jcQlro4tBReN_border-left-color: #dddddd;
  --mixin-jcQlro4tBReN_border-left-style: solid;
  --mixin-jcQlro4tBReN_border-left-width: 1px;
  --mixin-jcQlro4tBReN_border-right-color: #dddddd;
  --mixin-jcQlro4tBReN_border-right-style: solid;
  --mixin-jcQlro4tBReN_border-right-width: 1px;
  --mixin-jcQlro4tBReN_border-top-color: #dddddd;
  --mixin-jcQlro4tBReN_border-top-style: solid;
  --mixin-jcQlro4tBReN_border-top-width: 1px;
  --mixin-jcQlro4tBReN_border-bottom-left-radius: 3px;
  --mixin-jcQlro4tBReN_border-bottom-right-radius: 3px;
  --mixin-jcQlro4tBReN_border-top-left-radius: 3px;
  --mixin-jcQlro4tBReN_border-top-right-radius: 3px;
  --mixin-jcQlro4tBReN_font-family: "Inconsolata";
  --mixin-jcQlro4tBReN_padding-bottom: 1px;
  --mixin-jcQlro4tBReN_padding-left: 4px;
  --mixin-jcQlro4tBReN_padding-right: 4px;
  --mixin-jcQlro4tBReN_padding-top: 1px;
  --mixin-jcQlro4tBReN_white-space: pre-wrap;
  --mixin-9sWNJLxxr9xT_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-9sWNJLxxr9xT_border-bottom-color: #dddddd;
  --mixin-9sWNJLxxr9xT_border-bottom-style: solid;
  --mixin-9sWNJLxxr9xT_border-bottom-width: 1px;
  --mixin-9sWNJLxxr9xT_border-left-color: #dddddd;
  --mixin-9sWNJLxxr9xT_border-left-style: solid;
  --mixin-9sWNJLxxr9xT_border-left-width: 1px;
  --mixin-9sWNJLxxr9xT_border-right-color: #dddddd;
  --mixin-9sWNJLxxr9xT_border-right-style: solid;
  --mixin-9sWNJLxxr9xT_border-right-width: 1px;
  --mixin-9sWNJLxxr9xT_border-top-color: #dddddd;
  --mixin-9sWNJLxxr9xT_border-top-style: solid;
  --mixin-9sWNJLxxr9xT_border-top-width: 1px;
  --mixin-9sWNJLxxr9xT_border-bottom-left-radius: 3px;
  --mixin-9sWNJLxxr9xT_border-bottom-right-radius: 3px;
  --mixin-9sWNJLxxr9xT_border-top-left-radius: 3px;
  --mixin-9sWNJLxxr9xT_border-top-right-radius: 3px;
  --mixin-9sWNJLxxr9xT_font-family: "Inconsolata";
  --mixin-9sWNJLxxr9xT_padding-bottom: 3px;
  --mixin-9sWNJLxxr9xT_padding-left: 6px;
  --mixin-9sWNJLxxr9xT_padding-right: 6px;
  --mixin-9sWNJLxxr9xT_padding-top: 3px;
  --mixin-9sWNJLxxr9xT_white-space: pre-wrap;
  --mixin-_ScRLFtVQjVO_display: flex;
  --mixin-_ScRLFtVQjVO_flex-direction: column;
  --mixin-_ScRLFtVQjVO_align-items: stretch;
  --mixin-_ScRLFtVQjVO_justify-content: flex-start;
  --mixin-_ScRLFtVQjVO_list-style-position: outside;
  --mixin-_ScRLFtVQjVO_padding-left: 40px;
  --mixin-_ScRLFtVQjVO_position: relative;
  --mixin-_ScRLFtVQjVO_list-style-type: decimal;
  --mixin-_ScRLFtVQjVO_white-space: pre-wrap;
  --mixin-FZ-0dhsDnZDK_display: flex;
  --mixin-FZ-0dhsDnZDK_flex-direction: column;
  --mixin-FZ-0dhsDnZDK_align-items: stretch;
  --mixin-FZ-0dhsDnZDK_justify-content: flex-start;
  --mixin-FZ-0dhsDnZDK_list-style-position: outside;
  --mixin-FZ-0dhsDnZDK_padding-left: 40px;
  --mixin-FZ-0dhsDnZDK_position: relative;
  --mixin-FZ-0dhsDnZDK_list-style-type: disc;
  --mixin-FZ-0dhsDnZDK_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-su0YBydEl8qT_font-family);
  font-size: var(--mixin-su0YBydEl8qT_font-size);
  font-weight: var(--mixin-su0YBydEl8qT_font-weight);
  font-style: var(--mixin-su0YBydEl8qT_font-style);
  color: var(--mixin-su0YBydEl8qT_color);
  text-align: var(--mixin-su0YBydEl8qT_text-align);
  text-transform: var(--mixin-su0YBydEl8qT_text-transform);
  line-height: var(--mixin-su0YBydEl8qT_line-height);
  letter-spacing: var(--mixin-su0YBydEl8qT_letter-spacing);
  white-space: var(--mixin-su0YBydEl8qT_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-WoldXa7m-meU_font-family);
  color: var(--mixin-WoldXa7m-meU_color);
  font-size: var(--mixin-WoldXa7m-meU_font-size);
  font-weight: var(--mixin-WoldXa7m-meU_font-weight);
  letter-spacing: var(--mixin-WoldXa7m-meU_letter-spacing);
  line-height: var(--mixin-WoldXa7m-meU_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-tK8uaXmJUz-J_font-family);
  color: var(--mixin-tK8uaXmJUz-J_color);
  font-size: var(--mixin-tK8uaXmJUz-J_font-size);
  font-weight: var(--mixin-tK8uaXmJUz-J_font-weight);
  letter-spacing: var(--mixin-tK8uaXmJUz-J_letter-spacing);
  line-height: var(--mixin-tK8uaXmJUz-J_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-Nhad26dGJMhy_font-family);
  color: var(--mixin-Nhad26dGJMhy_color);
  font-size: var(--mixin-Nhad26dGJMhy_font-size);
  font-weight: var(--mixin-Nhad26dGJMhy_font-weight);
  letter-spacing: var(--mixin-Nhad26dGJMhy_letter-spacing);
  line-height: var(--mixin-Nhad26dGJMhy_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-s1mP6eESIs8I_font-family);
  color: var(--mixin-s1mP6eESIs8I_color);
  font-size: var(--mixin-s1mP6eESIs8I_font-size);
  font-weight: var(--mixin-s1mP6eESIs8I_font-weight);
  letter-spacing: var(--mixin-s1mP6eESIs8I_letter-spacing);
  line-height: var(--mixin-s1mP6eESIs8I_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-z4H4OVc0tkkE_font-family);
  color: var(--mixin-z4H4OVc0tkkE_color);
  font-size: var(--mixin-z4H4OVc0tkkE_font-size);
  font-weight: var(--mixin-z4H4OVc0tkkE_font-weight);
  letter-spacing: var(--mixin-z4H4OVc0tkkE_letter-spacing);
  line-height: var(--mixin-z4H4OVc0tkkE_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-usTnmfnWUoVt_font-family);
  color: var(--mixin-usTnmfnWUoVt_color);
  font-size: var(--mixin-usTnmfnWUoVt_font-size);
  font-weight: var(--mixin-usTnmfnWUoVt_font-weight);
  line-height: var(--mixin-usTnmfnWUoVt_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-inBQHe3oBQHB_color);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-F3Dq46E6tDrU_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-bjv2lJ4L7mte_color);
  padding-left: var(--mixin-bjv2lJ4L7mte_padding-left);
  border-left: var(--mixin-bjv2lJ4L7mte_border-left-width)
    var(--mixin-bjv2lJ4L7mte_border-left-style)
    var(--mixin-bjv2lJ4L7mte_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-jcQlro4tBReN_font-family);
  border-radius: var(--mixin-jcQlro4tBReN_border-top-left-radius)
    var(--mixin-jcQlro4tBReN_border-top-right-radius)
    var(--mixin-jcQlro4tBReN_border-bottom-right-radius)
    var(--mixin-jcQlro4tBReN_border-bottom-left-radius);
  padding: var(--mixin-jcQlro4tBReN_padding-top)
    var(--mixin-jcQlro4tBReN_padding-right)
    var(--mixin-jcQlro4tBReN_padding-bottom)
    var(--mixin-jcQlro4tBReN_padding-left);
  border-top: var(--mixin-jcQlro4tBReN_border-top-width)
    var(--mixin-jcQlro4tBReN_border-top-style)
    var(--mixin-jcQlro4tBReN_border-top-color);
  border-right: var(--mixin-jcQlro4tBReN_border-right-width)
    var(--mixin-jcQlro4tBReN_border-right-style)
    var(--mixin-jcQlro4tBReN_border-right-color);
  border-bottom: var(--mixin-jcQlro4tBReN_border-bottom-width)
    var(--mixin-jcQlro4tBReN_border-bottom-style)
    var(--mixin-jcQlro4tBReN_border-bottom-color);
  border-left: var(--mixin-jcQlro4tBReN_border-left-width)
    var(--mixin-jcQlro4tBReN_border-left-style)
    var(--mixin-jcQlro4tBReN_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-9sWNJLxxr9xT_font-family);
  border-radius: var(--mixin-9sWNJLxxr9xT_border-top-left-radius)
    var(--mixin-9sWNJLxxr9xT_border-top-right-radius)
    var(--mixin-9sWNJLxxr9xT_border-bottom-right-radius)
    var(--mixin-9sWNJLxxr9xT_border-bottom-left-radius);
  padding: var(--mixin-9sWNJLxxr9xT_padding-top)
    var(--mixin-9sWNJLxxr9xT_padding-right)
    var(--mixin-9sWNJLxxr9xT_padding-bottom)
    var(--mixin-9sWNJLxxr9xT_padding-left);
  border-top: var(--mixin-9sWNJLxxr9xT_border-top-width)
    var(--mixin-9sWNJLxxr9xT_border-top-style)
    var(--mixin-9sWNJLxxr9xT_border-top-color);
  border-right: var(--mixin-9sWNJLxxr9xT_border-right-width)
    var(--mixin-9sWNJLxxr9xT_border-right-style)
    var(--mixin-9sWNJLxxr9xT_border-right-color);
  border-bottom: var(--mixin-9sWNJLxxr9xT_border-bottom-width)
    var(--mixin-9sWNJLxxr9xT_border-bottom-style)
    var(--mixin-9sWNJLxxr9xT_border-bottom-color);
  border-left: var(--mixin-9sWNJLxxr9xT_border-left-width)
    var(--mixin-9sWNJLxxr9xT_border-left-style)
    var(--mixin-9sWNJLxxr9xT_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-_ScRLFtVQjVO_display);
  flex-direction: var(--mixin-_ScRLFtVQjVO_flex-direction);
  align-items: var(--mixin-_ScRLFtVQjVO_align-items);
  justify-content: var(--mixin-_ScRLFtVQjVO_justify-content);
  list-style-position: var(--mixin-_ScRLFtVQjVO_list-style-position);
  padding-left: var(--mixin-_ScRLFtVQjVO_padding-left);
  position: var(--mixin-_ScRLFtVQjVO_position);
  list-style-type: var(--mixin-_ScRLFtVQjVO_list-style-type);
  flex-column-gap: var(--mixin-_ScRLFtVQjVO_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-FZ-0dhsDnZDK_display);
  flex-direction: var(--mixin-FZ-0dhsDnZDK_flex-direction);
  align-items: var(--mixin-FZ-0dhsDnZDK_align-items);
  justify-content: var(--mixin-FZ-0dhsDnZDK_justify-content);
  list-style-position: var(--mixin-FZ-0dhsDnZDK_list-style-position);
  padding-left: var(--mixin-FZ-0dhsDnZDK_padding-left);
  position: var(--mixin-FZ-0dhsDnZDK_position);
  list-style-type: var(--mixin-FZ-0dhsDnZDK_list-style-type);
  flex-column-gap: var(--mixin-FZ-0dhsDnZDK_flex-column-gap);
}
